<div class="dm-width-upc-2-10 dm-width-pc-1-4 dm-width-tablet-5-10 dm-width-phone-1-1 browse-item"><a class="img-block dm-grid"><div class="category"><p><span>sub-category</span></p></div><div class="info"><p>Item Name</p><p>Price</p><p>location</p></div></a></div>