<div class="dm-toggle"><div class="title">{{name}}</div><div class="toggle"><div ng-class="{active:toggle}" class="toggle-on"><p ng-click="setToggle()">ON</p></div><div ng-class="{active:!toggle}" class="toggle-off"><p ng-click="setToggle()">OFF</p></div></div></div>