.dm-dropdown-container
    input.dm-width-1-1.uk-form-large(type="text" ng-click="showDialogBox()",ng-model="filterItem.name")
    .dm-dropdown-window(ng-show="showDialog")
        ul
            li(ng-repeat="item in selection | filter:filterItem")
                a(ng-click="setSelected(item)") {{item.name}}
