.dm-toggle
    .title.
        {{name}}
    .toggle
        .toggle-on(ng-class="{active:toggle}")
            p(ng-click="setToggle()") ON
        .toggle-off(ng-class="{active:!toggle}")
            p(ng-click="setToggle()") OFF

