p,a,i,h1,h2,h3,h4,h5,h6
{
  font-family: "Roboto",sans-serif;
}

.dm-button
{
  background:none;
  color:#fff;
  border:#eee 1px solid;
}

.dm-button:hover
{
  background:#eee;
  opacity: 0.7;
}

.dm-button-primary
{
  border:#2196F3 1px solid;
}

.dm-button-primary:hover
{
  background:#2196F3;
  opacity: 0.7;
}

.dm-button-facebook
{
  background:#4E75C5;
  color:#fff;
}

.dm-button-facebook:hover
{
  background:#4E75C5;
  color:#fff;
}

.dm-alert-info
{
  background-color:#FFA000;
  color:#fff;
}

.dm-alert-danger
{
  background-color:#F44336;
  color:#fff;
}

.dm-alert-primary
{
  background-color:#2196F3;
  color:#fff;
}

.dm-alert-success
{
  background-color:#4CAF50;
  color:#fff;
}

#dm-main-nav
{
  position:fixed;
  width:inherit;
  height:3em;
  background:#673AB7;
  filter: drop-shadow(1px 16px 16px rgba(0,0,0,0.3));
  display:flex;
  justify-content:space-between;
  align-content: center;
  z-index:1000;
  #brand
  {
    align-self: center;
    color:#fff;
    font-size:1.5em;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    max-width:20em;
    margin:0em 1em;
  }
  #nav
  {
    align-self:center;
    color:#fff;
    display:flex;
    justify-content:flex-start;
    align-content: center;
    height:inherit;
    padding:0em 0.5em;
    margin-right:1em;
    a
    {
      display:block;
      color:#fff;
      align-self: center;
      font-weight:700;
      padding:1em 1em 0.6em 1em;
      min-width:2em;
      text-decoration:none;
    }
    a:hover
    {
      background:#512DA8;
    }
  }
}

#content
{
  margin-top:5.5em;
}

.dm-panel-box
{
  background-color:#fff;
  border:1px solid #EEEEEE;
}