/*
  Directives
*/
.browse-item
{
  height:20em;
  .img-block
  {
    background-image: url("http://img0.joyreactor.com/pics/post/art-grumpy-cat-461730.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:18em;
    margin:0.2em;
    text-decoration: none;
    .category
    {
      align-self: flex-start;
      width:100%;
      padding:0.3em;
      text-align:right;
      color:#fff;
      span
      {
        background-color:#FFC107;
        padding:0.1em 0.2em;
        text-transform: uppercase;
        font-weight:bold;
      }
    }
    .info
    {
      width:100%;
      color:#fff;
      background-color:rgba(0,0,0,0.4);
      align-self: flex-end;
      padding:0.3em;
      p
      {
        margin:0em;
      }
      p:nth-child(3)
      {
        font-size:0.7em;
      }
    }
  }
  .img-block:hover
  {
    filter: brightness(120%);
  }
}

.dm-dropdown-container
{
  position:relative;
  .dm-dropdown-window
  {
    position:absolute;
    top:100%;
    z-index:500;
    box-sizing: border-box;
    vertical-align: top;
    border:1px solid #ddd;
    width:100%;
    border-top:none;
    background:#fff;
    ul
    {
      padding:0.5em;
      li
      {
        list-style-type:none;
      }
    }
  }
}

.dm-toggle
{
  max-width:120px;
  display:flex;
  flex-wrap: wrap;
  border:1px #607D8B solid;
  background-color:#607D8B;
  .title
  {
    width:100%;
    text-align:center;
    text-transform: uppercase;
    color:#fff;
    font-weight:700;
    margin:0.2em 0em;
  }
  .toggle
  {
    display:flex;
    justify-content: center;
    width:100%;
    margin-bottom:0.5em;
    cursor:pointer;
    .toggle-on,.toggle-off
    {
      p
      {
        padding:0.5em;
        margin:0em;
        background-color:#263238;
        color:#fff;
        font-weight:700;
        width:30px;
        text-align:center;
      }
    }
    .toggle-on.active > p
    {
      background-color:#607D8B;
      color:#76FF03;
    }
    .toggle-off.active > p
    {
      background-color:#F44336;
      color:#fff;
    }
  }
}

.dm-category-button-container
{
  .dm-category-button
  {
    background-color:#607D8B;
    color:#fff;
    font-weight:700;
    padding:0.3em;
    width:7em;
    margin-left:1em;
  }
  .dm-category-button:hover
  {
    background-color:#607D8B;
    color:#FFFF00;
    border-bottom:2px solid #FF5722;
  }
  .active
  {
    background-color:#607D8B;
    color:#FFFF00;
    border-bottom:2px solid #FF5722;
  }
}

.dm-upload-container
{
  min-height:20em;
  border:0.5em dashed rgba(60, 63, 65, 0.37);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .not-supported
  {
    input[type="file"]
    {
      width:7.2em;
    }
    p
    {
      color:red;
    }
  }

  .list
  {
    align-self: flex-start;
    ul > li
    {
      list-style-type: none;
      a
      {
        color:#F44336;
        font-weight: 700;
      }
    }
  }
}

.dm-panel
{
  background-color:#fff;
}

.dm-item-small > a
{
  display:flex;
  text-decoration:none;
  .item-picture
  {
    min-width:8em;
    height:8em;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://placehold.it/290x290");
  }
  .item-information
  {
    border-right:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    width:100%;
    padding:0.3em;
    h3
    {
      font-weight:700;
      margin-bottom:0.2em;
    }
    p
    {
      margin:0em;
    }
    p.price
    {
      color:#F44336;
      font-weight: 700;
      font-size:1.5em;
      margin-bottom:0.5em
    }
    p.location
    {
      color:#2e2e2e;
    }
  }
}

.dm-feedback
{
  border:1px solid #69878e;
  min-height:15em;
  .profile-info
  {
    border-right:1px solid #69878e;
  }
  .feedback-content
  {
    padding:1em;
    header
    {
      border-bottom:1px solid #69878e;
      padding-bottom:0.5em;
      p
      {
        padding-top:0.3em;
      }
      h3
      {

      }
      .thumbs-down
      {
        color:#F44336;
      }
      .thumbs-up
      {
        color:#4CAF50;
      }
    }
    .merchant-reply
    {
      textarea
      {
        resize:none;
      }
    }
    footer
    {
      border-top:1px solid #69878e;
      padding-top:0.5em;
    }
  }
}

.dm-message
{
  border:1px solid #69878e;
  min-height:15em;
  .profile-info
  {
    border-right:1px solid #69878e;
  }
  .message-content
  {
    padding:1em;
    header
    {
      border-bottom:1px solid #69878e;
      padding-bottom:0.5em;
      p
      {
        padding-top:0.3em;
      }
      h3
      {

      }
      .thumbs-down
      {
        color:#F44336;
      }
      .thumbs-up
      {
        color:#4CAF50;
      }
    }
    footer
    {
      border-top:1px solid #69878e;
      padding-top:0.5em;
    }
  }
}