.standardPadding()
{
  padding:0em 0.3em;
}

.genearateNormalWidth(@counter) when (@counter > 0)
{
  .genearateNormalWidth(@counter - 1);
  .dm-width-@{counter}-10
  {
    width:(10% * @counter);
  }
}

.generateResponsiveWidth(@counter,@type,@max,@multiplier) when (@counter > 0)
{
  .dm-width-@{type}-@{counter}-@{max}
  {
    width:(@multiplier * @counter) * 1%;
  }
  .generateResponsiveWidth(@counter - 1,@type,@max,@multiplier);
}

//phone
@media screen and (max-width:320px)
{
  .dm-width-phone-1-1
  {
    width:100%;
    .standardPadding()
  }

  .generateResponsiveWidth(9,phone,10,10);
  .generateResponsiveWidth(3,phone,4,25);
}

//tablet
@media screen and (max-width:1023px) and (min-width:321px)
{
  .dm-width-tablet-1-1
  {
    width:100%;
    .standardPadding()
  }

  .generateResponsiveWidth(9,tablet,10,10);
  .generateResponsiveWidth(3,tablet,4,25);
}

//UHD Screen
@media screen and (min-width:1201px)
{
  .dm-width-upc-1-1
  {
    width:100%;
    .standardPadding();
  }

  .generateResponsiveWidth(9,upc,10,10);
  .generateResponsiveWidth(3,upc,4,25);
}

//HD Screen
@media screen and (max-width:1200px) and (min-width:1024px)
{
  .dm-width-pc-1-1
  {
    width:100%;
    .standardPadding()
  }

  .generateResponsiveWidth(9,pc,10,10);
  .generateResponsiveWidth(3,pc,4,25);
}

.dm-width-1-1
{
  width:100%;
  .standardPadding()
}

//Ten Grid System
.genearateNormalWidth(9);

.dm-grid
{
  display:flex;
  flex-wrap: wrap;
}

.dm-grid-center
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}