.dm-panel
{
  border:1px #B0BEC5 solid;
  .dm-panel-header
  {
    background-color:#B0BEC5;
    padding:0.5em;
    p
    {
      margin:0em;
      font-weight:700;
    }
  }
  .dm-panel-body
  {
    padding:0.5em;

    .uk-form
    {
      .dm-add-region > .dm-grid
      {
        justify-content: center;
        .dm-dropdown-container
        {
          margin-right:1em;
          margin-bottom:1em;
        }
      }
      .dm-add-attributes > .dm-grid
      {
        justify-content: center;
        .dm-toggle
        {
          margin-right:1em;
          margin-bottom:1em;
        }
      }
      .dm-add-category > .dm-grid
      {
        justify-content: center;
      }
      .dm-add-photos > .dm-grid
      {
        justify-content: center;
      }
    }
  }
}