html
{
  height:100%;
  width:100%;
  background:#eee;
  body
  {
    height:inherit;
    width:inherit;
    main
    {
      height:inherit;
      width:inherit;
      position:relative;
      #cover-container
      {
        height:inherit;
        width:inherit;
        position:absolute;
        top:0;
        left:0;

        display:flex;

        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
        .dialog
        {

          background-color:#fff;
          align-self: center;
          padding:0.5em;
          max-width:20em;
          border:#CCCCCC 1px solid;
          filter: drop-shadow(0px 16px 10px rgba(0,0,0,0.4));
          .header
          {
            text-align:center;
            h1
            {
              color: #ccc;
              margin:0em;
              font-family: "Roboto",sans-serif;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:320px)
{
  #false-header
  {
    justify-content: center !important;
  }
  #cover-container > #info-container
  {
    .dialog
    {
      padding:0em 0.2em;
      max-width:100%;
    }
  }
}