#feedback-controls
{

}

.dm-panel
{
  border:1px solid #EEEEEE;
  .dm-panel-header
  {
    background-color:#2e2e2e;
    padding:0.5em;
    p
    {
      margin:0em;
      color:#fff;
      font-weight: 700;
    }
  }
  .dm-panel-header-admin
  {
    background-color:#F44336;
  }
  .dm-panel-body
  {
    padding:0.5em;
  }
}

.user-info
{
  display:flex;
  flex-direction: row;
  .profile-pic
  {

  }
  .profile-info
  {
    .feedback
    {
      display:flex;
      font-size:1.8em;
      font-weight:700;
      .positive
      {
        color:#4CAF50;
      }
      .negative
      {
        color:#F44336;
      }
    }
  }
}