#dm-item-window
{
  h1
  {
    font-size:2em;
    font-weight:700;
  }
  .item-primary-image
  {
    img
    {
      height:30em;
    }
  }
  .item-secondary-images
  {
    .image
    {
      display:inline;
      img
      {
        height:7em;
      }
    }
  }
  .item-description
  {
    h2
    {
      font-weight:700;
      font-size:1.7em;
    }
  }
}

#item-attributes
{
  dl
  {
    dd.price
    {
      font-size:2em;
      font-weight:700;
      color:#F44336;
    }
    dd.yes > span
    {
      background-color:#4CAF50;
    }
    dd.no > span
    {
      background-color:#F44336;
    }
    dd > span
    {
      color:#fff;
      padding:0.1em;
    }
  }
}

#user-panel
{
  .dm-panel-body
  {
    .user-info
    {
      display:flex;
      flex-direction: row;
      .profile-pic
      {

      }
      .profile-info
      {
        .feedback
        {
          display:flex;
          font-size:1.8em;
          font-weight:700;
          .positive
          {
            color:#4CAF50;
          }
          .negative
          {
            color:#F44336;
          }
        }
      }
    }
  }
}

.dm-panel
{
    border:1px solid #EEEEEE;
    .dm-panel-header
    {
      background-color: #2e2e2e;
      padding: 0.5em;
      p
      {
            margin:0em;
            color:#fff;
            font-weight: 700;
      }
    }
    .dm-panel-header-admin
    {
        background-color:#F44336;
    }
    .dm-panel-body
    {
        padding:0.5em;
    }
}