html
{
  height:100%;
  width:100%;
  body
  {
    height:inherit;
    width:inherit;
    main
    {
      height:inherit;
      width:inherit;
      position:relative;

      #cover-container
      {
        height:inherit;
        width:inherit;
        background-image: url("../../img/main.auth.cover.jpg");
        background-size: cover;
        filter: blur(2px) brightness(50%);
        position:absolute;
        top:0;
        bottom:0;
      }

      #info-container
      {
        height:inherit;
        width:inherit;
        position:absolute;
        top:0;
        bottom:0;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        #header
        {
          h1
          {
            font-size:6em;
            font-weight: 800;
          }
          h1,small
          {
            color:#fff;
            margin:0em;
            line-height:1em;
          }
          small
          {
            float:right;
          }
          .menu
          {
            margin-top:1em;
            p
            {
              text-align: center;
              color:#fff;
              font-size:2em;
              font-weight:300;
              font-style: italic;
            }
          }
          .buttons
          {
            text-align: center;
            a
            {
              margin-left:0.5em;
            }
          }
        }
      }
    }
  }
}