<div id="cover-container"><div id="info-container"><div class="dialog"><div class="header"><h1>Authenticate</h1><div class="uk-alert dm-alert-info">This service uses facebook to Authenticate users. The system is smart enough
to destinguish first time users to returning users.</div><div class="uk-alert dm-alert-info">Users Who would like to Sell or advertise their service will need to authenticate
their Facebook accounts in order to use the service. Registering for the service
is Free for everyone.</div><div class="uk-button-group"><a style="display:block"><a style="background:#43609C;color:#fff;" class="uk-button uk-button-large"><i class="uk-icon uk-icon-facebook"></i></a><a class="uk-button uk-button-large dm-button-facebook">Authenticate Facebook</a></a></div><div class="uk-text-center uk-margin-top"><a href="#/">Privacy Policy</a></div></div></div></div></div>