link(rel="stylesheet",href="assets/css/vendor/trumbowyg.min.css")
#content.dm-grid-center
    .dm-width-upc-6-10.dm-width-pc-7-10.dm-width-tablet-8-10.dm-width-phone-9-10
        panel
            panel-header
                p.uk-text-large.
                    #[i.uk-icon.uk-icon-cart-plus] Add Item
            panel-body
                .uk-button-group
                    button.uk-button.uk-button-large Cosplay Item
                    button.uk-button.uk-button-large Cosplay Service
                    button.uk-button.uk-button-large Merchandise

                .uk-alert.dm-alert-danger.
                    #[i.uk-icon.uk-icon-exclamation-triangle]
                    Select what type of item/service you would like to sell
                form.uk-form
                    .uk-form-row
                        label.uk-text-large Title
                        .uk-form-control
                            input.dm-width-1-1.uk-form-large(type="text")
                    .uk-form-row
                        label.uk-text-large Price
                        .uk-form-control
                            .uk-form-icon
                                i.uk-icon-rouble
                                input.uk-form-large(type="text")
                    .uk-form-row.dm-add-region
                        label.uk-text-large Region
                        .uk-form-control.dm-grid
                            .dm-width-pc-3-10.dm-width-tablet-5-10.dm-width-phone-1-1
                                drop-search(selected="selectedRegion",selection="region")
                            .dm-width-pc-3-10.dm-width-tablet-5-10.dm-width-phone-1-1
                                drop-search(selected="selectedRegion",selection="region")
                    .uk-form-row.dm-add-attributes
                        label.uk-form-label.uk-text-large Attributes
                        .uk-form-control.dm-grid.uk-margin-top
                            toggle(name="Used",
                                   toggle="attIsUsed").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1
                            toggle(name="Shipping",
                                   toggle="attShip").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1
                            toggle(name="Meetup",
                                   toggle="attMeet").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1
                            toggle(name="Negotiable",
                                   toggle="isNeg").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1
                            toggle(name="Trade",
                                   toggle="isTrade").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1
                    .uk-form-row.dm-add-category
                        label.uk-form-label.uk-text-large Category
                        .uk-form-control.dm-grid.uk-margin-top
                            categories(info="categories",category="category")
                    .uk-form-row
                        label.uk-text-large Description
                        .uk-form-control
                            textarea(wysiwig)
                    .uk-form-row.dm-add-photos
                        label.uk-text-large Photos
                        .uk-form-control.dm-grid.uk-margin-top
                            upload-files
                    .uk-form-row.uk-text-center
                        p.uk-margin-remove By Submiting, you agree to the Deremoe Market policies blah blah
                        hr.uk-margin-remove
                        button.uk-margin-top.uk-button.uk-button-primary.uk-button-large.
                            Submit

