link(rel="stylesheet",href="assets/css/vendor/trumbowyg.min.css")
#content: .uk-grid
    .uk-width-medium-8-10.uk-width-small-9-10.uk-container-center: .uk-grid

        #feedback-controls.uk-width-medium-2-6.uk-width-small-9-10: .dm-grid
            .uk-width-1-1
                panel
                    panel-header
                        p.uk-text-large User Information
                    panel-body
                        .user-info
                            .profile-pic.uk-margin-right
                                img(src="http://placehold.it/70x70").uk-thumbnail
                            .profile-info
                                a: h3 Jay Paul Eugenio
                                .feedback
                                    .positive.uk-margin-right.
                                        #[i.uk-icon.uk-icon-thumbs-up] 999
                                    .negative.
                                        #[i.uk-icon.uk-icon-thumbs-down] 999
                        .user-controls.uk-margin-top.uk-margin-bottom
                            .uk-alert.uk-alert-warning: p.
                                #[i.uk-icon.uk-icon-exclamation-triangle] You need to be logged in order
                                to provide feedback
                            button.uk-button.uk-width-1-1.uk-margin-top.
                                #[i.uk-icon.uk-icon-flag] Report User
                            button.uk-button.dm-button-facebook.uk-width-1-1.uk-margin-top.
                                #[i.uk-icon.uk-icon-facebook-square] Login To Facebook
            .uk-width-1-1.uk-margin-top
                panel
                    panel-header
                        p.uk-text-large Feedback Controls
                    panel-body
                        ul.uk-list.uk-margin-remove
                            li: a Write Feedback
                            li: a Show All Feedback
                            li: a Show Negatives
                            li: a Show Positives

        #feedback-loop.uk-width-medium-4-6.uk-width-small-9-10: .uk-flex.uk-flex-column
            //Editor Box
            .uk-width-1-1
                .uk-alert.dm-alert-info
                    p.
                        #[i.uk-icon.uk-icon-exclamation-triangle]
                        It appears that you already have a feedback.
                        We only allow one feedback per seller/user.
                        If you have changed your opinion, kindly edit your current one.
                .uk-alert.dm-alert-primary
                    p.
                        #[i.uk-icon.uk-icon-exclamation-triangle]
                        Negative Feedbacks are required to have a statement not longer than 300 characters.
                        This is to give justification and prevent spaming and black propaganda against the user
                .uk-button-group
                    button.uk-button #[i.uk-icon.uk-icon-thumbs-up] Thumbs Up
                    button.uk-button #[i.uk-icon.uk-icon-thumbs-down] Thumbs Down
                    button.uk-button.uk-button-danger #[i.uk-icon.uk-icon-trash-o] Delete
                textarea(wysiwig)
                .uk-width-1-1.uk-text-right
                    p You need X characters before you can sumbit this feedback
                    button.uk-button.uk-button-large.uk-button-primary Submit
                .uk-width-1-1.uk-text-center
                    button.uk-button.uk-button-large Show Editor
                .uk-width-1-1.uk-margin-top
                    feedback
                    feedback
                    feedback
                    feedback