#content: .uk-grid
    .uk-width-medium-8-10.uk-width-small-9-10.uk-container-center
        .uk-grid
            //Main Content
            .uk-width-medium-4-6.uk-width-small-1-1
                #dm-item-window.uk-panel.uk-panel-box.dm-panel-box.uk-panel-header
                    h1.uk-panel-title This is the title of the Item being sold
                    .item-primary-image.uk-text-center
                        img.uk-thumbnail(src="http://placehold.it/600x800")
                    .item-secondary-images.uk-margin-top
                        a.uk-width-1-4.image.uk-margin-right.uk-margin-bottom
                            img.uk-thumbnail(src="http://placehold.it/600x800")
                        a.uk-width-1-4.image.uk-margin-right.uk-margin-bottom
                            img.uk-thumbnail(src="http://placehold.it/800x600")
                        a.uk-width-1-4.image.uk-margin-right.uk-margin-bottom
                            img.uk-thumbnail(src="http://placehold.it/600x800")
                        a.uk-width-1-4.image.uk-margin-right.uk-margin-bottom
                            img.uk-thumbnail(src="http://placehold.it/800x600")
                    .item-description.uk-margin-top
                        h2 Description
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.

                panel#dm-item-user.uk-margin-top
                    panel-header
                        p.uk-text-large Items Being Sold By The Seller
                    panel-body: .uk-grid
                        item-small
                        item-small
                        item-small
                        item-small
                        item-small
                        item-small
                        .uk-width-1-1.uk-text-center
                            button.uk-button Display More Items

                panel#dm-item-related.uk-margin-top
                    panel-header
                        p.uk-text-large Related Items Being Sold By Other Sellers
                    panel-body
                        p asdasd
            //Side bar
            .uk-width-medium-2-6.uk-width-small-1-1
                panel#admin-panel.uk-margin-bottom
                    panel-header.dm-panel-header-admin
                        p.uk-text-large #[i.uk-icon.uk-icon-gears] Admin Actions
                    panel-body
                        .uk-alert.uk-alert-warning
                            p #[i.uk-icon.uk-icon-exclamation-triangle] Item In Draft Mode
                        .uk-alert.uk-alert-success
                            p #[i.uk-icon.uk-icon-globe] Item Published
                        .uk-alert.uk-alert-primary
                            p #[i.uk-icon.uk-icon-clock-o] DD:HH:mm:ss Before Expiration
                        uk.uk-list
                            li: a Set Primary Image
                            li: a Edit Item
                            li: a Feedbacks
                            li: a Help
                        button.uk-button.uk-width-1-1.uk-margin-top.uk-margin-bottom.uk-hidden.
                            #[i.uk-icon.uk-icon-edit] Revert To Draft
                        button.uk-button.uk-button-success.uk-width-1-1.uk-margin-top.uk-margin-bottom.
                            #[i.uk-icon.uk-icon-globe] Publish Item
                        button.uk-button.uk-button-danger.uk-width-1-1.uk-margin-bottom.
                            #[i.uk-icon.uk-icon-trash-o] Delete Item

                panel#item-attributes.uk-margin-bottom
                    panel-header
                        p.uk-text-large #[i.uk-icon.uk-icon-shopping-cart] Item Information
                    panel-body
                        dl.uk-description-list-horizontal
                            dt.uk-margin-top.uk-margin-bottom Price
                            dd.uk-margin-top.uk-margin-bottom.price ₱9999

                            dt Brand New
                            dd.yes: span Yes

                            dt Shipping
                            dd.yes: span Yes

                            dt Meetup
                            dd.yes: span Yes

                            dt Negotiable
                            dd.no: span No

                            dt Trade
                            dd.yes: span Yes
                        .uk-alert.uk-alert-danger
                            p.
                                #[i.uk-icon.uk-icon-ban]
                                You need to be Logged in for you to contact the seller
                        button.uk-button.uk-button-primary.uk-width-1-1.uk-button-large.
                            #[i.uk-icon.uk-icon-mobile-phone.uk-icon-large] Contact Seller
                        button.uk-button.dm-button-facebook.uk-width-1-1.uk-margin-top.
                            #[i.uk-icon.uk-icon-facebook-square] Login To Facebook

                panel#user-panel.uk-margin-bottom
                    panel-header
                        p.uk-text-large #[i.uk-icon.uk-icon-user] User Information
                    panel-body
                        .user-info
                            .profile-pic.uk-margin-right
                                img(src="http://placehold.it/70x70").uk-thumbnail
                            .profile-info
                                a: h3 Jay Paul Eugenio
                                .feedback
                                    .positive.uk-margin-right.
                                        #[i.uk-icon.uk-icon-thumbs-up] 999
                                    .negative.
                                        #[i.uk-icon.uk-icon-thumbs-down] 999
                        .user-controls.uk-margin-top.uk-margin-bottom
                            .uk-alert.uk-alert-warning: p.
                                #[i.uk-icon.uk-icon-exclamation-triangle] You need to be logged in order
                                to provide feedback
                            button.uk-button.uk-width-1-1.
                                #[i.uk-icon.uk-icon-bullhorn] Send User Feedback
                            button.uk-button.uk-width-1-1.uk-margin-top.
                                #[i.uk-icon.uk-icon-flag] Report User
                            button.uk-button.dm-button-facebook.uk-width-1-1.uk-margin-top.
                                #[i.uk-icon.uk-icon-facebook-square] Login To Facebook