#cover-container
#info-container
    #header
        h1 Deremoe Market
        small ver 0.1a
        .menu
            p Buy, Advertise, Assest, Sell and Consult
        .buttons
            a(class="uk-button uk-button-large dm-button dm-button-primary",href="/#/auth/") Sell / Advertise
            a(class="uk-button uk-button-large dm-button dm-button-primary",href="/#/browse/") Browse