#content: .uk-grid
    .uk-width-medium-9-10.uk-width-small-9-10.uk-container-center
        h1 User Administration
        .uk-width-1-1
            form.uk-form: fieldset(data-uk-margin)
                input(type="text" placeholder="Search User By Name")
                select
                    option --- Selection ---
                button.uk-button.uk-button-primary.
                    #[i.uk-icon.uk-icon-filter] Filter
        .uk-width-1-1.uk-margin-top
            table.uk-table.uk-table-striped
                thead
                    tr
                        th Name
                        th Email
                        th Role
                        th Actions
                tbody
                    tr
                        td Jay Paul Agonoy
                        td jay@agonoy.com
                        td
                            select
                                option Admin
                        td
                            .button-group
                                button.uk-button.uk-button-danger #[i.uk-icon.uk-icon-trash]