#content: .uk-grid
    .uk-width-medium-8-10.uk-width-small-9-10.uk-container-center
        .uk-grid
            //Main Content
            .uk-width-medium-8-10.uk-with-small-1-1
                panel
                    panel-header
                        p.uk-text-large #[i.uk-icon.uk-icon-user] User Profile
                    panel-body
                        .uk-alert.dm-alert-info.
                            #[i.uk-icon.uk-icon-exclamation-triangle] User information is tied to your Facebook account. The only you can
                            change is your mobile number.
                        .uk-alert.dm-alert-success.
                            #[i.uk-icon.uk-icon-thumbs-up] User Profile Changed
                        form.uk-form
                            fieldset
                                .uk-form-row
                                    legend.uk-form-legend Name
                                    .uk-form-controls
                                        input.uk-form-large.uk-width-1-1(type="text",readonly)
                                .uk-form-row
                                    legend.uk-form-legend Email
                                    .uk-form-controls
                                        input.uk-form-large.uk-width-1-1(type="text",readonly)
                                .uk-form-row
                                    legend.uk-form-legend Facebook Id
                                    .uk-form-controls
                                        input.uk-form-large.uk-width-1-1(type="text",readonly)
                                .uk-form-row
                                    .uk-panel.uk-panel-box.uk-panel-primary
                                        legend.uk-form-legend Mobile Number
                                        .uk-form-controls
                                            input.uk-form-large.uk-width-1-1(type="text")
                                .uk-form-row.uk-text-center
                                    button.uk-button.uk-button-large.uk-button-primary(type="submit") Change Profile
            .uk-width-medium-2-10.uk-width-small-1-1
                panel
                    panel-header
                        p.uk-text-large #[i.uk-icon.uk-icon-lock] User Controls
                    panel-body
                        .uk-text-center
                            img.uk-thumbnail(src="http://placehold.it/100x100")
                        .uk-width-1-1.uk-margin-top.uk-text-center
                            button.uk-button.uk-button-large.uk-button-danger #[i.uk-icon.uk-icon-trash] Delete Account