.dm-width-upc-2-10.dm-width-pc-1-4.dm-width-tablet-5-10.dm-width-phone-1-1.browse-item
    a.img-block.dm-grid
        .category
            p: span sub-category
        .info
            p Item Name
            p Price
            p location