.dm-category-button-container
    button.uk-button.uk-margin-bottom.dm-category-button(ng-repeat="(key,value) in info"
                                                         ng-class="{active:isActive[key]}",
                                                         ng-click="setActive(key,value.value)") {{value.name}}