.dm-feedback.uk-width-1-1.dm-grid.uk-margin-bottom
    .profile-info.uk-width-medium-1-4.uk-width-small-1-1
        .uk-text-center
            img(src="http://placehold.it/70x70").uk-thumbnail.uk-margin-top
            p.uk-margin-remove Jay Paul Eugenio
            small Joined: 2015-09-14
            ul.uk-list
                li: a Helpful
                li: a Not Helpful
                li: a Funny
    .feedback-content.uk-width-medium-3-4.uk-width-small-1-1
        header: .uk-grid
            .uk-width-1-2
                h3.uk-margin-remove.thumbs-up #[i.uk-icon.uk-icon-thumbs-down] Thumbs Down
                h3.uk-margin-remove.thumbs-down #[i.uk-icon.uk-icon-thumbs-up] Thumbs Up
            .uk-width-1-2
                p #[i.uk-icon.uk-icon-clock-o] Jaunary 2 1988, 10:10pm | #[a Top]
        .uk-margin-top
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.
        .uk-margin-top.uk-margin-bottom: .uk-panel.uk-panel-box.merchant-reply
            p.uk-text-bold Merchant Reply
            .uk-width-1-1
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
            .uk-width-1-1
                textarea(rows="10").uk-width-1-1.uk-hidden
                .uk-text-right
                    a #[i.uk-icon.uk-icon-edit] Edit
        footer: .uk-grid
            .uk-width-3-4
                small X number of People find this Helpful; X people find this funny.
            .uk-width-1-4.uk-text-right
                button.uk-button.uk-button-primary.uk-width-1-1.
                   #[i.uk-icon.uk-icon-reply] Reply