table.dm-messagebox.uk-table.uk-table-hover
    tbody
        tr: td.uk-width-medium-3-10.uk-width-small-1-1 Name of the user
            td.uk-width-medium-6-10.uk-width-small-1-1 Subject
            td.uk-width-medium-1-10.uk-width-small-1-1 Date
        tr.active: td.uk-width-medium-3-10.uk-width-small-1-1 Name of the user
            td.uk-width-medium-6-10.uk-width-small-1-1 Subject
            td.uk-width-medium-1-10.uk-width-small-1-1 Date