.dm-message.uk-width-8-10.dm-grid.uk-margin-bottom
    .profile-info.uk-width-medium-1-4.uk-width-small-1-1
        .uk-text-center
            img(src="http://placehold.it/70x70").uk-thumbnail.uk-margin-top
            p.uk-margin-remove Jay Paul Eugenio
            small Joined: 2015-09-16
    .message-content.uk-width-medium-3-4.uk-width-small-1-1
        header: .uk-grid
            .uk-width-1-1
                h3.uk-margin-remove Message Subject
        .uk-margin-top
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.
        footer: .uk-grid
            .uk-width-1-1.uk-text-right
                button.uk-button.uk-button-primary.uk-width-1-4.
                    #[i.uk-icon.uk-icon-reply] Reply