div
    .uk-grid.uk-margin-bottom: .uk-width-medium-6-10.uk-width-large-9-10.uk-container-center
        .uk-text-center.uk-margin-bottom
            button.uk-button.uk-visible-small(ng-click="toggleSearchBar()") Show Search Filter
        form.uk-form.uk-text-center(ng-show="searchBarToggle")
            //Select Region
            select.uk-width-medium-1-6(ng-model="selectedRegion",
                                       ng-options="value.name for value in region")
                option(value="") All
            select.uk-margin-left.uk-width-medium-1-6.uk-hidden-small(ng-model="selectedRegion",
                                                      ng-options="value.name for value in region")
            select.uk-width-medium-1-6.uk-visible-small(ng-model="selectedRegion",
                                                        ng-options="value.name for value in region")
                option(value="") All

            //Price
            .uk-form-icon.uk-margin-left.uk-hidden-small #[i.uk-icon-rub]
                input(type="text",placeholder="Price")
            .uk-form-icon.uk-visible-small #[i.uk-icon-rub]
                input(type="text",placeholder="Price")
            select.uk-visible-small
                option(value="less") Less Than Equal
                option(value="more") More Than Equal
            select.uk-hidden-small
                option(value="less") Less Than Equal
                option(value="more") More Than Equal

            //Category
            select.uk-width-medium-1-6.uk-margin-left.uk-hidden-small
                option(value="") All Categories
            select.uk-width-medium-1-6.uk-visible-small
                option(value="") All Categories

            button(data-uk-modal="{target:'#dm-searchbar-filter'}").uk-button.uk-button-primary.uk-margin-left.
                #[i.uk-icon.uk-icon-filter]
            button.uk-margin-left.uk-button.uk-button-success #[i.uk-icon.uk-icon-refresh]
            button(data-uk-modal="{target:'#dm-searchbar-clear'}").uk-button.uk-margin-left.
                #[i.uk-icon.uk-icon-remove]
    //Modals
    #dm-searchbar-filter.uk-modal: .uk-modal-dialog #[a.uk-modal-close.uk-close]
        .uk-modal-header
            h1 #[i.uk-icon.uk-icon-filter] Search Filter
        div
            h2 Attributes
            .dm-grid
                toggle(name="Used",
                       toggle="attIsUsed").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Shipping",
                       toggle="attShip").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Meetup",
                       toggle="attMeet").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Negotiable",
                       toggle="isNeg").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Trade",
                       toggle="isTrade").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
        div
            hr
            h2 Categories
            .dm-grid
                categories(info="categories",category="category")
