.dm-upload-container.dm-width-upc-6-10.dm-width-pc-8-10.dm-width-tablet-9-10.dm-width-phone-1-1.dm-grid
    .not-supported(ng-show="!isDragDropPresent")
        p Drag and Drop Not Supported
        p.uk-text-center
            input(type="file",accept=".jpg,.png",multiple="")
    .supported(ng-show="isDragDropPresent && validFiles.length == 0")
        p.uk-text-large.uk-text-bold.
            Drag and Drop Files Here #[i.uk-icon.uk-icon-image]
    .list
        ul
            li.uk-alert.dm-alert-primary.uk-margin-top(ng-repeat="(key,file) in validFiles").
                #[a(ng-click="deleteFile(key)") [X]] {{file.name}}
            li.uk-alert.dm-alert-danger(ng-repeat="file in invalidFiles").
                {{file.name}}

