<div class="dm-category-button-container"><button ng-repeat="(key,value) in info" ng-class="{active:isActive[key]}" ng-click="setActive(key,value.value)" class="uk-button uk-margin-bottom dm-category-button">{{value.name}}</button></div>