<div class="dm-feedback uk-width-1-1 dm-grid uk-margin-bottom"><div class="profile-info uk-width-medium-1-4 uk-width-small-1-1"><div class="uk-text-center"><img src="http://placehold.it/70x70" class="uk-thumbnail uk-margin-top"/><p class="uk-margin-remove">Jay Paul Eugenio</p><small>Joined: 2015-09-14</small><ul class="uk-list"><li><a>Helpful</a></li><li><a>Not Helpful</a></li><li><a>Funny</a></li></ul></div></div><div class="feedback-content uk-width-medium-3-4 uk-width-small-1-1"><header><div class="uk-grid"><div class="uk-width-1-2"><h3 class="uk-margin-remove thumbs-up"><i class="uk-icon uk-icon-thumbs-down"></i> Thumbs Down</h3><h3 class="uk-margin-remove thumbs-down"><i class="uk-icon uk-icon-thumbs-up"></i> Thumbs Up</h3></div><div class="uk-width-1-2"><p><i class="uk-icon uk-icon-clock-o"></i> Jaunary 2 1988, 10:10pm | <a>Top</a></p></div></div></header><div class="uk-margin-top"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
in culpa qui officia deserunt mollit anim id est laborum.</p></div><div class="uk-margin-top uk-margin-bottom"><div class="uk-panel uk-panel-box merchant-reply"><p class="uk-text-bold">Merchant Reply</p><div class="uk-width-1-1"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
in culpa qui officia deserunt mollit anim id est laborum.</p></div><div class="uk-width-1-1"><textarea rows="10" class="uk-width-1-1 uk-hidden"></textarea><div class="uk-text-right"><a><i class="uk-icon uk-icon-edit"></i> Edit</a></div></div></div></div><footer><div class="uk-grid"><div class="uk-width-3-4"><small>X number of People find this Helpful; X people find this funny.</small></div><div class="uk-width-1-4 uk-text-right"><button class="uk-button uk-button-primary uk-width-1-1"><i class="uk-icon uk-icon-reply"></i> Reply</button></div></div></footer></div></div>